* {
  box-sizing: border-box;
}

.body,
.importance-level {
  font-family: 'Open Sans', sans-serif;
}

.title,
.card-title,
#importance {
  font-family: 'Roboto Slab', serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #E5F3F2;
}

.title {
  margin: 0;
  padding: 20px;
  color: #00A79D;
  font-size: 50px;
  text-align: center;
}

.box {
  color: #6D6E71;
}

.title-input,
.task-input,
.filter-input {
  height: 40px;
  width: 60%;
  margin: 10px auto;
  padding-left: 5px;
  border: 2px solid #D1D3D4;
  color: #939598;
  font-size: 20px;
}

.title-input {
  margin-top: 0;
}

.task-input {
  padding-top: 7px;
  resize: none;
}

.save-btn,
.show-completed-btn,
.show-more-btn {
  height: 40px;
  width: 60%;
  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
  margin: 10px auto;
  font-size: 18px;
  outline: none;
}

.filter-input,
.show-more-btn {
  margin: 20px auto;
}

.show-completed-btn {
  margin-bottom: 20px;
}

.save-btn:hover,
.show-completed-btn:hover {
  background-color: #045E55;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.filter-btn-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.importance-btn {
  height: 40px;
  width: 100px;
  border: none;
  background-color: #E5F3F2;
  color: #6D6E71;
  font-size: 16px;
}

.todo-container {
  width: 100%;
  display: flex;
  align-items: center; flex-direction: column;
}

.todo-card {
  width: 60%;
  padding-bottom: 20px;
  border-bottom: 2px solid #D1D3D4;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-content {
  margin: 10px 0;
  padding: 3px;
  color: #939598;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#importance,
.importance-level {
  color: #6D6E71;
  font-size: 18px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  color: #6D6E71;
}

.card-bottom {
  display: flex;
  align-items: center;
  width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.complete-btn,
.delete-btn,
.up-vote-btn,
.down-vote-btn {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  border: none;
}

.complete-btn,
.delete-btn {
  margin-top: 22px;
}

.complete-btn {
  height: 22px;
  width: 22px;
  background-image: url('assets/verify-circular-black-button-symbol.svg');
  background-size: contain;
  background-position: 20%;
}

.complete-btn:hover {
  background-image: url('assets/verify-circular-black-button-symbol (1).svg');
}

.complete-btn:active {
  background-image: url('assets/verify-circular-black-button-symbol (2).svg');
  /*outline: none;*/
}

.delete-btn {
  margin-left: 15px;
  background-image: url('assets/delete.svg');
}

.delete-btn:hover {
  background-image: url("assets/delete-hover.svg");
}

.up-vote-btn {
  background-image: url("assets/upvote.svg");
}

.up-vote-btn:hover {
  background-image: url("assets/upvote-hover.svg");
}

.down-vote-btn {
  height: 25px;
  width: 25px;
  background-image: url("assets/downvote.svg");
  background-repeat: no-repeat;
  margin: 0px 15px;
  border: none;
}

.down-vote-btn:hover{
  background-image: url("assets/downvote-hover.svg");
}



/*******************************
         media query @ 450px
*******************************/

@media (max-width: 450px) {

  .header {
    height: 60vh;
  }

  .title-input,
  .filter-input {
    width: 80%;
    height: 10%;
    margin-top: 10px;
  }


  .body-input {
    width: 80%;
    height: 30%;
    align-items: flex-start;
  }

  .save-button {
    width: 80%;
    height: 10%
    margin-top: 10px;
  }

  .filter-input {
    height: 10%;
  }

  .idea-card {
    width: 80%
  }
}
