* {
  box-sizing: border-box;
}

.body{
  max-width: 1500px
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-family: 'Roboto Slab', serif;
  background-color: #E5F3F2;
  height: 40vh;
  text-align: center;
  margin-top: 0px;
}

.title-input,
.body-input,
.search-input {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #D1D3D4;
  height: 15%;
  color: #939598;
}

.search-input {
  height: 50px;
}

.title {
  color: #00A79D;
  padding-top: 20px;
  margin-top: 0px;
  font-size: 45px;
}

.box {
  color: #6D6E71;
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;
  display: block;
  width: 60%;
  margin: 15px auto;
  height: 15%;
  border: none;
}

.save-button:hover {
  background-color: #045E55;
}

p {
  width: 100%;
  color: #939598;
}

.idea-text {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

.quality {
  color: #6D6E71;
}

hr {
  border-top: 2px solid #D1D3D4;
  width: 100%;
}
/*.idea-container {
  display:
}*/

.idea-card {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  margin-top: 15px;
}

.card-top {
  justify-content: space-between;
  width: 100%;
  display: flex;
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  margin-bottom: 0px;
}

.card-bottom {
  display: flex;
  align-items: center;
  width: 100%;
}

.delete {
  right: 0px;
  align-self: center;
}

.quality,
.up-vote,
.down-vote {
  padding-right: 15px;
}

button {
  border: none;
  background-color: transparent;
}

.delete {
  background-image: url("assets/delete.svg");
  right: 0px;
  align-self: center;
  background-repeat: no-repeat;
  border: none;
  height: 25px;
  width: 25px;
}
.delete:hover {
  background-image: url("assets/delete-hover.svg");
}

.up-vote {
  background-image: url("assets/upvote.svg");
  border: none;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}
.up-vote:hover {
  background-image: url("assets/upvote-hover.svg");
}

.down-vote {
  background-image: url("assets/downvote.svg");
  background-repeat: no-repeat;
  height: 25px !important;
  width: 25px;
  margin: 0px 10px;
  border: none;
}
.down-vote:hover{
  background-image: url("assets/downvote-hover.svg");
}



/*******************************
         media query @ 450px
*******************************/

@media (max-width: 450px) {

  .header {
    height: 60vh;
  }

  .title-input,
  .search-input {
    width: 80%;
    height: 10%;
    margin-top: 10px;
  }


  .body-input {
    width: 80%;
    height: 30%;
    align-items: flex-start;
  }

  .save-button {
    width: 80%;
    height: 10%
    margin-top: 10px;
  }

  .search-input {
    height: 10%;
  }

  .idea-card {
    width: 80%
  }
}
